.radial-progress {
  @circle-size: 130px;
  @circle-background: #A5A5A5; // test colour
  @circle-color:  #CD3D61;
  @inset-size: 100px; // how big the pink inset-color is
  @inset-color: #EFEFEF;
  @transition-length: 1s;
  @percentage-color: white;
  @percentage-font-size: 14px;
  @percentage-text-width: 34px;

  margin: 5px;
  width:  @circle-size;
  height: @circle-size;

  background-color: @circle-background;
  border-radius: 50%;
  .circle {
    .mask, .fill {
      width:    @circle-size;
      height:   @circle-size;
      position: absolute;
      border-radius: 50%;
      -webkit-backface-visibility: hidden;
      transition: -webkit-transform @transition-length;
      transition: -ms-transform @transition-length;
      transition: transform @transition-length;
      border-radius: 50%;
    }
    .mask {
      clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
      .fill {
        clip: rect(0px, @circle-size/2, @circle-size, 0px);
        background-color: @circle-color;
      }
    }
  }
  .inset {
    width:       @inset-size;
    height:      @inset-size;
    position:    absolute;
    margin-left: (@circle-size - @inset-size)/2;
    margin-top:  (@circle-size - @inset-size)/2;

    background-color: @inset-color;
    border-radius: 50%;
    .percentage {
      height:   @percentage-font-size;
      width:    @percentage-text-width;
      overflow: hidden;

      position: absolute;
      //top:      (@inset-size - @percentage-font-size) / 2;
      bottom: -25px;
      left:     (@inset-size - @percentage-text-width) / 2;
      // line-height: 1;
      line-height: 21px;

      height: 34px;
      background-color: black;
      border-radius: 50px;

      .numbers {

        margin-top: -@percentage-font-size;
        transition: width @transition-length;
        span {
          width:          @percentage-text-width;
          display:        inline-block;
          vertical-align: top;
          text-align:     center;
          font-weight:    800;
          font-size:      @percentage-font-size;
          font-family:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color:          @percentage-color;
        }
      }
    }
  }

  @i: 0;
  @increment: 180deg / 100;
  .loop (@i) when (@i <= 100) {
    &[data-progress="@{i}"] {
      .circle {
        .mask.full, .fill {
          -webkit-transform: rotate(@increment * @i);
          -ms-transform: rotate(@increment * @i);
          transform: rotate(@increment * @i);
        }
        .fill.fix {
          -webkit-transform: rotate(@increment * @i * 2);
          -ms-transform: rotate(@increment * @i * 2);
          transform: rotate(@increment * @i * 2);
        }
      }
      .inset .percentage .numbers {
        width: @i * @percentage-text-width + @percentage-text-width;
      }
    }
    .loop(@i + 1);
  }
  .loop(@i);
}